# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/
.venv/
.venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
.wheelhouse/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Other files
*.DS_Store
.idea